:root {
    --el-color-primary: #8934aa !important;
    --el-button-text-color: #fff !important;
    --el-color-primary-light-3: #9f33ca !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;